[Unit]
Description=Nexus Server Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

ExecStart=/opt/nexus/bin/nexus
User=vagrant 

[Install]
WantedBy=multi-user.target
